<<<<<<< HEAD

/******************/
/*** ANIMATIONS ***/
/******************/

.transform {
    transition-duration: 2s;
}

.transform-active {
    opacity: 0;
    display: none;
}

.appear {
    opacity: 0;
    transition-duration: 2s;
}

.appear-active {
    opacity: 1;
}

/*************/
/*** FONTS ***/
/*************/

.p-h1 {
    font-family: Montserrat;
    font-size: 7rem;
    padding: 0;
    margin: 0; 
    text-decoration: underline;
}

.p-h2 {
    font-family: Montserrat;
    font-size: 2rem;
    padding-top: 10vh;
    text-align: center;
}

.menu-title {
    justify-content: center;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.title2 {
    text-transform: uppercase;
    letter-spacing: 4.4rem;
}

.work-title {
    z-index: 3;
}

.work-bg {
    position: absolute;
    color: #ffffff;
    margin-top: 0rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.787), 60%, rgba(255, 255, 255, 0));
    z-index: 2;
}

/********************/
/*** PAGE CONTENT ***/
/********************/

header {
    font-family: Montserrat;
    padding-top: 20vh;
}

section {
    padding-bottom: 3rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*******************/
/***MENU BANNIERE***/
/*******************/

.menu {
    width: 34rem;
    height: 10rem;
    color: #ffffff;
    margin-top: 0rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.787), 60%, rgba(255, 255, 255, 0));

    transform: translateX(-6rem);
}

.menu p {
    padding-left: 12rem;
    line-height: 14rem;
    font-size: 3rem;
}

/**********/
/***MENU***/
/**********/

/* Position titre menu*/
    .text-block {
        position: absolute;
        left: 180px;
        top: 4px;
        font-size: 2rem;
    }

/* Modification bouton complet */
    nav a {
        display: block;
        margin-top: 5rem;
        transform: translateX(-9rem); 
        color: rgba(156, 156, 156, 0.685); 
        transition: .2s;
        
        width: 50vh;
    }

    nav a img {
        opacity: .7;
    }
    
    nav a:hover {
        color: #ffffff;
        transform: translateX(-6rem);
        transition: .2s;
    }
    
    .card {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 0;
        width: 44rem;
    }

    .dropdown-item {
        color: rgb(255, 255, 255);
    }

    .dropdown-item:hover, .dropdown-item:focus {
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
    }

/*****************/
/*** PRINCIPAL ***/
/*****************/

.statut {
      margin-left: 30rem;
      height: 100vh;
  }

.statut-text {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

.margin-top {
    margin-top: 5rem;
}

.photo-profil {
  width: 15rem;
  min-width: 5rem;
  position: absolute;
  top: 10px;

  border:10px solid rgb(202, 202, 202);
  border-radius: 65px;
}

.statut-active {

}

.skill-active {

}

.work-active {

}

.option-active {

}

/************/
/*** CARD ***/
/************/


/************/
/*** ICON ***/
/************/

/*************/
/*** EXTRA ***/
/*************/

.active {
    color:rgb(255, 255, 255);
    text-decoration: none;
    transform: translateX(-6rem);
}

.index-0 {
    z-index: auto;
}

/*
.bloc {
    border: 1px solid #8AC007;
}
*/
=======

/******************/
/*** ANIMATIONS ***/
/******************/

.transform {
    transition-duration: 2s;
}

.transform-active {
    opacity: 0;
    display: none;
}

.appear {
    opacity: 0;
    transition-duration: 2s;
}

.appear-active {
    opacity: 1;
}

/*************/
/*** FONTS ***/
/*************/

.p-h1 {
    font-family: Montserrat;
    font-size: 7rem;
    padding: 0;
    margin: 0; 
    text-decoration: underline;
}

.p-h2 {
    font-family: Montserrat;
    font-size: 2rem;
    padding-top: 10vh;
    text-align: center;
}

.menu-title {
    justify-content: center;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.title2 {
    text-transform: uppercase;
    letter-spacing: 4.4rem;
}

.work-title {
    z-index: 3;
}

.work-bg {
    position: absolute;
    color: #ffffff;
    margin-top: 0rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.787), 60%, rgba(255, 255, 255, 0));
    z-index: 2;
}

/********************/
/*** PAGE CONTENT ***/
/********************/

header {
    font-family: Montserrat;
    padding-top: 20vh;
}

section {
    padding-bottom: 3rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*******************/
/***MENU BANNIERE***/
/*******************/

.menu {
    width: 34rem;
    height: 10rem;
    color: #ffffff;
    margin-top: 0rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.787), 60%, rgba(255, 255, 255, 0));

    transform: translateX(-6rem);
}

.menu p {
    padding-left: 12rem;
    line-height: 14rem;
    font-size: 3rem;
}

/**********/
/***MENU***/
/**********/

/* Position titre menu*/
    .text-block {
        position: absolute;
        left: 180px;
        top: 4px;
        font-size: 2rem;
    }

/* Modification bouton complet */
    nav a {
        display: block;
        margin-top: 5rem;
        transform: translateX(-9rem); 
        color: rgba(156, 156, 156, 0.685); 
        transition: .2s;
        
        width: 50vh;
    }

    nav a img {
        opacity: .7;
    }
    
    nav a:hover {
        color: #ffffff;
        transform: translateX(-6rem);
        transition: .2s;
    }
    
    .card {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 0;
        width: 44rem;
    }

    .dropdown-item {
        color: rgb(255, 255, 255);
    }

    .dropdown-item:hover, .dropdown-item:focus {
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
    }

/*****************/
/*** PRINCIPAL ***/
/*****************/

.statut {
      margin-left: 30rem;
      height: 100vh;
  }

.statut-text {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

.margin-top {
    margin-top: 5rem;
}

.photo-profil {
  width: 15rem;
  min-width: 5rem;
  position: absolute;
  top: 10px;

  border:10px solid rgb(202, 202, 202);
  border-radius: 65px;
}

.statut-active {

}

.skill-active {

}

.work-active {

}

.option-active {

}

/************/
/*** CARD ***/
/************/


/************/
/*** ICON ***/
/************/

/*************/
/*** EXTRA ***/
/*************/

.active {
    color:rgb(255, 255, 255);
    text-decoration: none;
    transform: translateX(-6rem);
}

.index-0 {
    z-index: auto;
}

/*
.bloc {
    border: 1px solid #8AC007;
}
*/
>>>>>>> 4db529ca5337cabd4b400f6d19762cd569c4cf01
